/*!
 *
 * Admin Template
 *
 * Version: 1.0
 * Author: ahmad al bashir barakat
 *
 */
/* ========================================================================
     Component: layout
 ========================================================================== */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);

html {
    direction: ltr;
    height: 100%;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    color: #656565;
    font-size: 0.875rem;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}

.wrapper .aside-container {
    position: absolute;
    width: 220px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 116;
    backface-visibility: hidden;
    background-color: #fff;
}

.wrapper .aside-container .aside-inner {
    height: 100%;
    width: 220px;
    overflow: hidden;
}

.wrapper .section-container {
    position: relative;
    height: 100%;
    margin-left: 0;
    z-index: 111;
    background-color: #f5f7fa;
    margin-bottom: 60px !important;
}

.wrapper .footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 109;
    font-size: .875rem;
    background: #fff;
}

.content-wrapper {
    padding: 20px;
    width: 100%;
}

.wrapper .section-container,
.wrapper .footer-container {
    margin-left: 70px;
}

.wrapper .aside-container,
.wrapper .aside-container .aside-inner {
    width: 70px;
}

/* ========================================================================
     Component: top-navbar
 ========================================================================== */
.topnavbar {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
    z-index: 0;
    border: 0;
    padding: 0;
    min-height: 56px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.topnavbar .navbar-nav > .nav-item > .nav-link {
    color: #515253;
    padding: 1.1rem .95rem;
    font-size: 1rem;
}

/* ========================================================================
     Component: sidebar
 ========================================================================== */
.sidebar {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;

    margin-right: -17px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.aside-inner {
    box-shadow: 0px 10px 15px #9e9e9e;
}

.sidebar > .sidebar-nav {
    position: relative;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar > .sidebar-nav > li > a,
.sidebar > .sidebar-nav > li > .nav-item {
    position: relative;
    display: block;
    padding: 12px 24px;
    color: #515253;
    letter-spacing: .025em;
    font-weight: normal;
    cursor: pointer;
}

.sidebar > .sidebar-nav > li > a {
    padding: 15px 0;
    text-align: center;
}

.sidebar > .sidebar-nav > li:nth-child(1n + 3) > a {
    font-size: 0.7rem;
    padding: 15px 0;
}

.sidebar > .sidebar-nav > li.logo {
    border-bottom: 1px solid #eee;
}

.sidebar > .sidebar-nav > li.logo > a {
    padding: 5px 0;
}

.sidebar > .sidebar-nav > li > a > img {
    width: 45px;
    height: 45px;
}

.sidebar > .sidebar-nav > li.avatar img {
    box-shadow: 0px 4px 7px -2px #0000006b;
    border-radius: 50%;
}

.sidebar > .sidebar-nav > li.avatar:after {
    content: ' ';
    display: block;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}

.sidebar > .sidebar-nav > li > a > em {
    font-size: 1.6em;
    width: auto;
}

.sidebar > .sidebar-nav > li.active > a {
    background-color: #f5f5f5;
}

.sidebar > .sidebar-nav > li.active > a > em {
    color: #515253;
}

/* ========================================================================
     Component: cards
 ========================================================================== */

.card {
    margin-bottom: 1.25rem;
}

.card .table {
    margin-bottom: 0;
}

.card .table > thead > tr > th {
    border-top: 0;
}

.card.card-transparent {
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0 #000;
}

.card.card-transparent .card-header,
.card.card-transparent .card-body {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.card-flat {
    margin: 0 !important;
    border: 0;
}

.card-columns-2 {
    column-count: 1;
}

@media (min-width: 768px) {
    .card-columns-2 {
        column-count: 2;
    }
}

.card-header > a[data-tool] {
    display: inline-block;
    color: #fff;
    width: 2em;
    text-align: center;
}

.card-default .card-header > a[data-tool] {
    color: #c1c2c3;
}

.card-header > .badge.float-right {
    margin-top: 3px;
}

.card-header > .badge.float-right + .badge.float-right {
    margin-right: 10px;
}

.card-footer .pagination {
    margin: 0;
}

.card-footer .radial-bar {
    margin-bottom: 0;
}

.card-footer p {
    margin-bottom: 0;
}
