/*!
 *
 * Admin Template
 *
 * Version: 1.0
 * Author: ahmad al bashir barakat
 *
 */
/* ========================================================================
     Component: layout
 ========================================================================== */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);
@import url(//fonts.googleapis.com/earlyaccess/amiri.css);

html {
    direction: ltr;
    height: 100%;
}

html,
body {
    font-family: "Source Sans Pro", Amiri, sans-serif;
    color: #656565;
    font-size: 0.975rem;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}

.content-wrapper {
    padding: 20px;
    width: 100%;
}

.wrapper .aside-container {
    position: absolute;
    width: 220px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 116;
}

.wrapper .section-container {
    position: relative;
    height: 100%;
    z-index: 111;
    background-color: #f5f7fa;
    margin-bottom: 60px !important;
}

.wrapper .footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 0;
    font-size: .875rem;
    background: #fff;
}

.wrapper .section-container,
.wrapper .footer-container {
    margin-left: 70px;
}

.wrapper .aside-container .aside-inner {
    height: 100%;
    overflow: hidden;
}

.wrapper .aside-container,
.wrapper .aside-container .aside-inner {
    width: 70px;
}

/* ========================================================================
     Component: top-navbar
 ========================================================================== */

.topnavbar {
    position: relative;
    z-index: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.topnavbar .navbar-nav > .nav-item > .nav-link {
    color: #515253;
    padding: 1rem;
}

/* =======================================================================
                            Component: Sidebar
========================================================================== */

.aside-inner {
    box-shadow: 0px 10px 15px #9e9e9e;
}

.sidebar {
    height: 100%;
    background-color: #fff;
    margin-right: -17px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar > .sidebar-nav {
    position: relative;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar > .sidebar-nav > li > a {
    position: relative;
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: 0.7rem;
    color: #515253;
    cursor: pointer;
}

.sidebar > .sidebar-nav > li > a > img {
    width: 45px;
    height: 45px;
}

.sidebar > .sidebar-nav > li.logo {
    border-bottom: 1px solid #eee;
}

.sidebar > .sidebar-nav > li.logo > a {
    padding: 4px 0;
}

.sidebar > .sidebar-nav > li.avatar img {
    box-shadow: 0px 4px 7px -2px #0000006b;
    border-radius: 50%;
}

.sidebar > .sidebar-nav > li.avatar:after {
    content: ' ';
    display: block;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}

.sidebar > .sidebar-nav > li > a > em {
    font-size: 1.4em;
    width: auto;
}

.sidebar > .sidebar-nav > li.active > a {
    background-color: #f5f5f5;
}

/* ========================================================================
     Component: bootstrap-reset
 ========================================================================== */

.custom-select {
    -webkit-appearance: none;
}

.card .card-header .card-title {
    margin-bottom: 0;
}

fieldset {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* ========================================================================
     Component: cards
 ========================================================================== */

.card {
    margin-bottom: 20px;
}

.card .table {
    margin-bottom: 0;
}

.card .table > thead > tr > th {
    border-top: 0;
}

.card.card-default {
    border-top-width: 3px;
    border-color: #b9b9b9;
}
.card.card-default .card-header {
    background: none;
}
.card.card-default .card-header .card-title h4 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0;
}

/* ========================================================================
     Component: form
 ========================================================================== */

.required:after {
    font-family: 'Font Awesome 5 Free';
    font-size: 5px;
    font-weight: 900;
    position: relative;
    content: '\f005';
    bottom: 8px;
    left: 4px;
    color: #f05050;
}

/* tooltip */

[data-toggle="tooltip"] > div {
    display: none;
}

.tooltip-inner {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    padding: 0.25rem 0.6rem;
    max-width: 100% !important;

    background-color: #fefefe;
    box-shadow: 0px 4px 8px -2px #b3b3b3;
    border: 1px solid #cecece;
    color: #4e4e4e;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #fdfdfd;
    border-width: 0.5rem 0.5rem 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-width: 0 0.5rem 0.5rem;
    border-bottom-color: #e8e8e8;;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 2px;
}

[data-toggle="tooltip"]:after {
    font-family: 'Font Awesome 5 Free';
    content: '\f05a';
    font-size: 15px;
    font-weight: 900;
    padding-left: 5px;
}

/* simple file upload */
.simple-file-upload {
    height: 300px;
    max-height: 100%;
    border-top-width: 1px;
    border-color: #dde6e9;
}

.simple-file-upload .card {
    height: 85%;
    justify-content: center;
    align-items: center;
}

.simple-file-upload .input-simple-file-upload {
    opacity: 0;
    display: block;
    height: auto;
    min-height: 100%;
    width: 100%;
    border: 1px solid #dde6e9;
    z-index: 1;
    cursor: pointer;
}

.simple-file-upload .btn-simple-file-upload {
    position: absolute;
    opacity: 0.5;
    z-index: 1;
}

.simple-file-upload .simple-file-upload-placeolder {
    position: absolute;
    max-width: 100%;
    height: 100%;
}